# Arquivos de compilação C# gerados
bin/
obj/

# Arquivos temporários gerados pelo Visual Studio
.vs/
*.user
*.suo
*.cache
*.crash
*.pidb

# Arquivos de log e dump de erro
*.log
*.vspscc
*.vssscc
_buildlogs/
*.cache/
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
node_modules/
npm-debug.log

*.ide/
*.sln.docstates

packages/

_ReSharper.*/

_GVFS/

_documentation/

*.apk
*.ap_
*.aab
*.aab_
*.dSYM/
*.ipch
*.o
*.obj
*.pch
*.pdb
*.vshost.*

.vscode/

.idea/

.idea/
